/* Style Default */
body{
    font-family: 'Slabo 27px', serif;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.separator {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* Style Untuk Soal 1, 2, dan 3. Gunakan Dengan Sesuai! */

.box-100 {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
}

.box-200 {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
}

.box-300 {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
}

#maroon-box {
    color: #ffffff;
    background-color: #96281b;
}

#dark-blue-box {
    color: #ffffff;
    background-color: #4b77be;
}

#salem-box {
    color: #ffffff;
    background-color: #1e824c;
}

#red-box-1 {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
}   

#red-box-2 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
} 

#blue-box-3 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
} 

#green-box-4{
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
} 

.red-background {
    color: #ffffff;
    background: #c0392b;
}

.blue-background {
    color: #ffffff;
    background: #4b77be;
}

.green-background {
    color: #ffffff;
    background: #26a65b;
}

.box-list div {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
    background: #353535;
    color: #ffffff;
}

.gold-box-bg {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
}

#gold-box {
    border-radius: 20px;
    color: #353535;
    background: #f9bf3b;
}
